:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.list {
    width: 100%;
    border: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.list li {
    opacity: 0.2;
    transition: .3s ease-in-out;
}
.list li:hover {
    opacity: 1;
    cursor: pointer;
}